<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
    <title><%= @title %></title>
    <%= erb(:headers) %>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax:{
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
        }
      });
    </script>
    <script type="text/javascript" async
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <meta http-equiv="X-UA-Compatible" CONTENT="IE=EmulateIE7" />
  </head>
  <body>
    <div id="content">
      <h1><%= @title %></h1>
      <%= yieldall %>
    </div>

    <%= erb(:footer) %>
  </body>
</html>
