<meta charset="<%= charset %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  <%= h @page_title %>
  <% if options.title && @page_title != options.title %>
    &mdash; <%= h options.title %>
  <% end %>
</title>
<% stylesheets.each do |stylesheet| %>
  <link rel="stylesheet" href="<%= mtime_url(stylesheet) %>" type="text/css" charset="utf-8" />
<% end %>
<%= erb :script_setup %>
<% javascripts.each do |javascript| %>
  <script type="text/javascript" charset="utf-8" src="<%= mtime_url(javascript) %>"></script>
<% end %>
<%# KaTeX %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var katex_options = {
      delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\(", right: "\\)", display: false},
        {left: "\\[", right: "\\]", display: true}
      ],
    };
    var elements = document.querySelectorAll('.summary_desc p, .docstring p');
    elements.forEach(function (elem) {
      console.log(elem);
      renderMathInElement(elem, katex_options);
    });
  });
</script>
